<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input 
                type="username" 
                name="username"
                id="username">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Reset Password</button>
        </form>
        <% if (errorMessage) { %>
            <span class="label warning"> W A R N I N G
                <div class="user-message user-message--error">
                    <h2><center><%= errorMessage %></center></h2>
                </div>
            </span>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>