<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <center>
                    <h1>Register to MLN Dashboard </h1>
                </center>
                <!-- <% if (sucessMessage) { %>
                    <span class="label success"> S U C E S S
                        <div class="user-message user-message--error">
                            <h2>
                                <center>
                                    <%= %>
                                </center>
                            </h2>
                        </div>
                    </span>

                    <% } %> -->
                        <form class="login-form" action="/signup" method="POST" novalidate>
                            <div class="form-control">
                                <label for="username">Username<t style="color: red;">*</t></label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                                    type="username" name="username" placeholder="username" id="username"
                                    value="<%= oldInput.username %>">
                                <% if (validationErrors.find(e=> e.param === 'username')) { %>
                                    <span class="label danger">REGISTERED OR INVALID</span>
                                    <% } else if (!(oldInput.username)) { %>
                                        <!-- <span class="label info"> ENTER UNREGISTERED USERNAME</span> -->
                                        <% } else if (oldInput.username) { %>
                                            <span class="label success">VALID USERNAME</span>
                                            <% } else { %>
                                                <span class="label warning">INVALID USERNAME INPUT</span>
                                                <% } %>
                            </div>
                            <div class="form-control">
                                <label for="first_name">First Name<t style="color: red;">*</t></label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'first_name') ? 'invalid' : '' %>"
                                    type="first_name" name="first_name" placeholder="first name"" 
                id=" first_name" value="<%= oldInput.first_name %>">
                                <% if (validationErrors.find(e=> e.param === 'first_name')) { %>
                                    <span class="label danger">INVALID FIRST NAME</span>
                                    <% } else if (!(oldInput.first_name)) { %>
                                        <!-- <span class="label info"> ENTER FIRST NAME</span> -->
                                        <% } else if (oldInput.first_name) { %>
                                            <!-- <span class="label success">VALID FIRST NAME</span> -->
                                            <% } else { %>
                                                <span class="label warning">INVALID FIRST NAME INPUT</span>
                                                <% } %>
                            </div>
                            <div class="form-control">
                                <label for="last_name">Last Name<t style="color: red;">*</t></label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'last_name') ? 'invalid' : '' %>"
                                    type="last_name" name="last_name" placeholder="last name" id="last_name"
                                    value="<%= oldInput.last_name %>">
                                <% if (validationErrors.find(e=> e.param === 'last_name')) { %>
                                    <span class="label danger">INVALID LAST NAME</span>
                                    <% } else if (!(oldInput.last_name)) { %>
                                        <!-- <span class="label info"> ENTER LAST NAME</span> -->
                                        <% } else if (oldInput.last_name) { %>
                                            <!-- <span class="label success">VALID LAST NAME</span> -->
                                            <% } else { %>
                                                <span class="label warning">INVALID LAST NAME INPUT</span>
                                                <% } %>
                            </div>
                            <div class="form-control">
                                <label for="email">E-mail<t style="color: red;">*</t></label>
                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                    type="email" name="email" placeholder="user@address.com" id="email"
                                    value="<%= oldInput.email %>">
                                <% if (validationErrors.find(e=> e.param === 'email')) { %>
                                    <span class="label danger">REGISTERED OR INVALID EMAIL</span>
                                    <% } else if (!(oldInput.email)) { %>
                                        <!-- <span class="label info">ENTER UNREGISTERED EMAIL</span> -->
                                        <% } else if (oldInput.email) { %>
                                            <!-- <span class="label success">VALID EMAIL</span> -->
                                            <% } else { %>
                                                <span class="label warning">INVALID EMAIL INPUT</span>
                                                <% } %>
                            </div>
                            <div class="form-control">
                                <label for="phone">Phone Number</label>
                                <input class="<%= validationErrors.find(e => e.param === 'phone') ? 'invalid' : '' %>"
                                    type="phone" name="phone" placeholder="###-###-####" id="phone"
                                    value="<%= oldInput.phone %>" pattern=”[0-9]{3}-[0-9]{3}-[0-9]{4}” maxlength="13"
                                    minlength="10">
                                <% if (validationErrors.find(e=> e.param === 'phone')) { %>
                                    <span class="label danger">PHONE NUMBER IS INVALID</span>
                                    <% } else if (!(oldInput.phone)) { %>
                                        <!-- <span class="label info">ENTER 10 DIGIT PHONE NUMBER</span> -->
                                        <% } else if (oldInput.phone) { %>
                                            <!-- <span class="label success">VALID PHONE NUMBER INPUT</span> -->
                                            <% } else { %>
                                                <span class="label warning">INVALID PHONE NUMBER INPUT</span>
                                                <% } %>
                            </div>
                            <div class="form-control">
                                <label for="password">Password<t style="color: red;">*</t></label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                    type="password" name="password" placeholder="At least 8 character long"
                                    id="password" value="<%= oldInput.password %>">
                                <% if (validationErrors.find(e=> e.param === 'password')) { %>
                                    <span class="label danger">INVALID PASSWORD</span>
                                    <% } else if (!(oldInput.password)) { %>
                                        <!-- <span class="label info">ENTER PASSWORD ATLEAST 8 CHARACTER</span> -->
                                        <% } else if (oldInput.password) { %>
                                            <!-- <span class="label success">VALID PASSWORD</span> -->
                                            <% } else { %>
                                                <span class="label warning">INVALID PASSWORD INPUT</span>
                                                <% } %>
                            </div>
                            <div class="form-control">
                                <label for="confirmPassword">Confirm Password<t style="color: red;">*</t></label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                                    type="password" name="confirmPassword" placeholder="Password should match"
                                    id="confirmPassword" value="<%= oldInput.confirmPassword %>">
                                <% if (validationErrors.find(e=> e.param === 'confirmPassword')) { %>
                                    <span class="label danger">PASSWORD DOESN'T MATCH</span>
                                    <% } else if (!(oldInput.confirmPassword)) { %>
                                        <!-- <span class="label info">PASSWORD SHOULD MATCH</span> -->
                                        <% } else if (oldInput.confirmPassword) { %>
                                            <span class="label success">PASSWORD MATCH</span>
                                            <% } else { %>
                                                <span class="label warning">INVALID PASSWORD INPUT</span>
                                                <% } %>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <center><b>Reminder:</b> <i>Required Field(<t style="color: red;">*</t>) Needed for
                                    Registering New User.</i></center>
                            &emsp;
                            <center> <button class="btn" type="submit">Complete Registeration</button></center>
                            <!-- <div class="form-control">
                <label for="age">Age</label>
                <input type="number" name="age" id="age"step="1" value="age">

            </div class="gender-control">
            </div>
            <div class="ender-control">
                <label for="gender">Gender(Optional)</label>
                // https://stackoverflow.com/questions/22406020/javascript-gender-validation -->
                            <!-- <input type="radio" name="gender" id="gender" value="Male" >Male
                <input type="radio" name="gender" id="gender" value="Female">Female
                <input type="radio" name="gender" id="gender" value="Other">Other -->
                            <!-- <input type="button" onclick="validateGender()" value="validate"/> -->
                            <!-- <input type="gender" name="gender" id="gender"> Other 
            </div> -->
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>